html, body {

    font-size: 100%;
    background: #000000;
    color: rgba(255,255,255,.8);

}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    cursor: auto;
    font-family: "Noto Serif","DejaVu Serif",sans-serif;
    line-height: 1;
    padding: 0;
    position: relative;
    tab-size: 4;
    word-wrap: anywhere;
    -moz-osx-font-smoothing: grayscale;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 300%;
}

h4 {
    font-size: 100%;
}

a {
    color: rgba(255,255,255,.8);
}

.name_patch {
    line-height: 0;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}

.main_headline {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.trace {
}

.patch {
}

.bio_text {
  line-height: 1;
}

.sub_headline {
    font-size: 100;
    font-variant: small;
}

.two_columns{
    font-size: 120%;
    line-height: 1.2;
    margin-left: 20%;
}

.left_column {
  float: left;
  text-align: left;
}

.right_column {
    float: left;
    margin-left: 10%;
    text-align: left;
}

.social {

}

.event {
    font-family: "Lucida Console", "Courier New", monospace;
}
